/*universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/*set font-family and backgrd color to the whole header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*display top heading as inline-block and set font size, element selector */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*display nav bar as float-right, set padding size and inline with top heading  */
.header nav {
    padding-top: 15px;
    margin-left: 25px;
    list-style-type: none;
    float: right;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*cancel list style associated to nav ul element  */
.header nav ul {
    list-style-type: none;
}

/*display each li items as inline and set margin-left  */
.header ul li {
    display: inline;
    margin-left: 25px;
}

/*set font color to all anchor element */
a {
    color: #ffffff;
    text-decoration: none;
}

/*set font size to all p element */
p {
    font-size: 16px;
}

/*set height, width and content for background .hero element. set alt attribute to image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    alt: "Graphic about digital marketing";
    background-size: cover;
    background-position: center;
}

/*class selector to set image or nav-bar to float-left or float-right*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*display the left section as inline and occupy 75% of full width*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*position the next section to right side, inline with left section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*set the size and config for each box of .content section*/
.content .search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*set image height for .content section*/
.content .search-engine-optimization img {
    max-height: 200px;
}

.content .online-reputation-management img {
    max-height: 200px;
}

.content .social-media-marketing img {
    max-height: 200px;
}

/*set margin and font size for each heading in .content section*/
.content .search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*set margin and font color for each box in .benefits section*/
.benefits .benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*use block to align images to the center  */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* clear the footer from any adjacent float-type element*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
